NODE-Red function.txt
[{"id":"af9abd55.f367","type":"blynk-ws-out-notify","z":"ed44b659.78cd48","name":"","client":"60dc7604.81e208","queue":false,"rate":5,"x":810,"y":280,"wires":[]},{"id":"f38683bb.7e7","type":"function","z":"ed44b659.78cd48","name":"Message","func":"msg.payload = \"There is someone in your house\"\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":280,"wires":[["af9abd55.f367"]]},{"id":"51b7688f.6025e8","type":"blynk-ws-in-write","z":"ed44b659.78cd48","name":"","pin":"1","pin_all":0,"client":"60dc7604.81e208","x":210,"y":200,"wires":[["15c9a668.7456ca"]]},{"id":"16a99e91.9685d1","type":"mqtt out","z":"ed44b659.78cd48","name":"","topic":"node/burglar-alarm:0/alarm/-/set/state","qos":"","retain":"","broker":"e649966c.8c2af8","x":910,"y":240,"wires":[]},{"id":"15c9a668.7456ca","type":"function","z":"ed44b659.78cd48","name":"Alarm Set State","func":"if(msg.payload == \"1\")\n{\n    flow.set(\"alarmOn\", 1);\n}\nelse\n{\n    flow.set(\"alarmOn\", 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":200,"wires":[[]]},{"id":"af184b59.282298","type":"mqtt in","z":"ed44b659.78cd48","name":"","topic":"node/burglar-alarm:0/thermometer/0:1/temperature","qos":"2","broker":"e649966c.8c2af8","x":310,"y":240,"wires":[["7479ca11.982d94"]]},{"id":"7479ca11.982d94","type":"function","z":"ed44b659.78cd48","name":"Alarm Load State","func":"msg.payload = flow.get(\"alarmOn\");\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":240,"wires":[["16a99e91.9685d1"]]},{"id":"3774d88.0dd9728","type":"mqtt in","z":"ed44b659.78cd48","name":"","topic":"node/burglar-alarm:0/pir/-/event-count","qos":"2","broker":"e649966c.8c2af8","x":270,"y":280,"wires":[["f38683bb.7e7"]]},{"id":"60dc7604.81e208","type":"blynk-ws-client","z":"","name":"Burglar Alarm","path":"ws://127.0.0.1:8080/websockets","key":"4bc2b76eee5e4178aa3cd5611571fcf4","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":""},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]